<div class="container-fluid search-div">
    <img src="images/searchbar2.jpg" alt="anime wallpaper" class="search-img">
    <form action="/" class="d-flex" method="POST">
      <input class="form-control me-2" name="title" type="search" placeholder="Enter Anime name..." aria-label="Search">
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>